<!DOCTYPE html>
<html lang="fr">

<%- include('partials/head.partial.ejs', { title: 'FranceConnect - Page d\'information', style: 'consent' }); %>

<body>
  <header>
    <img src="/img/logo-marianne.svg" alt="logo république française marianne" class="header__logo-marianne">
    <img src="/img/logo-fc-plus.svg" alt="logo franceconnect plus" class="header__logo-fc-plus">
  </header>
  <% if (locals.scopes.every(scope => scope === 'openid')) { %>
  <main class="anonymous">
    <section>
      <p class="section__identity">Vous avez été connecté de façon anonyme</p>

      <p class="section__more-info">
        Aucune donnée n'a été échangée pour vous connecter.
      </p>
    </section>

    <a href="/api/v2/login?_csrf=<%=locals.code%>" id="consent"
      class="content__continue">Continuer sur
      <%= locals.spName %></a>

    <p><% JSON.stringify(locals.identity); %></p>
  <% } else { %>
  <main>
    <section>
      <p class="section__welcome">Bienvenue</p>
      <p role="heading" aria-level="1" class="section__identity"><%= locals.identity.given_name %> <%= locals.identity.family_name %></p>
    </section>

    <form method="POST" action="/api/v2/login" name="fc-consent">
      <button type="submit" id="consent" class="content__continue">Continuer sur <%= locals.spName %></button>

      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
    </form>

    <article>
      <p class="content__success">
        À la demande du service auquel vous souhaitez accéder, certaines données vont être transmises.
      </p>

      <div id="openCloseMenu" class="content__details">
        <div id="toggleOpenCloseMenu" role="button" tabindex="0" class="content-details__header">
          <span class="close">Voir le détail des données</span>
          <span class="open">Masquer le détail des données</span>
        </div>
        <div class="content-details__content">
          <p>
            Pour confirmer votre identité, FranceConnect doit partager ces informations :
          </p>

          <ul>
            <% claims
                .forEach(label => { %>
                <li><%= label %></li>
              <% }); %>
          </ul>

          <a href="https://franceconnect.gouv.fr/cgu" class="more-informations">
            En savoir plus sur le traitement des données personnelles
          </a>
        </div>
      </div>
    </article>
  <% } %>
  </main>

  <%- include('partials/footer.partial.ejs') %>

  <script type="text/javascript" src="/js/consent.js"></script>
</body>
</html>
