<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head.partial.ejs', { title: 'Connexion - choix du fournisseur d\'identité', style: 'interaction' }); %>

  <body>
    <%- include('partials/menu.ejs'); %>
    <div id="mire">
      <div class="content">
        <main>    
          <h1>Je choisis un moyen pour me connecter sur :</h1>
          <h2><%= locals.spName %></h2>

    
          <div id="idp-list" class="main__providers">
            <% locals.providers.filter(p => p.display).forEach((provider) => { %>
              <form
                method="POST"
                action="/api/v2/redirect-to-idp"
                id="fs-request-<%= provider.uid %>"
                name="fs-request"
              >
                <div class="identity-provider">
                  <button
                    id="idp-<%= provider.uid %>"
                    <% if (!provider.active) { %>
                      disabled
                    <% } %>
                  >
                    <div class="icon-container">
                      <img src='/img/fi/fi-placeholder.svg' alt="Logo de <%= provider.name %>"/>
                    </div>
                    <span>
                      J’utilise l’application 
                      <strong><%= provider.name %></strong>
                    </span>
                  </button>
                </div>

                <input type="hidden" name="providerUid" id="providerUid" value="<%= provider.uid %>" />
                <input type="hidden" name="uid" id="uid" value="<%= locals.uid %>" />
                <input type="hidden" name="acr_values" value="<%= params.acr_values %>" />
                <input type="hidden" name="scope" value="<%= locals.scope %>" />
              </form>
            <% }) %>
          </div>

          <div class="tuto-container">
            <h3>
              Pourquoi je ne retrouve pas mes comptes habituels ?
            </h3>
            <div class="logos-container">
              <img src="/img/logo-impots-couleurs.svg" alt="Logo impots">
              <img src="/img/logo-ameli-couleurs.svg" alt="Logo ameli">
              <img src="/img/logo-msa-couleurs.svg" alt="Logo Msa">
              <img src="/img/logo-mcm.svg" alt="Logo Mobile connect et moi">

            </div>
            <p>
              FranceConnect+ est la nouvelle solution FranceConnect qui vous permet d’accéder à encore plus de démarches en ligne. 
              Le service auquel vous souhaitez accéder nécessite l’utilisation d’un compte ayant un niveau de sécurité plus élevé.
            </p>
            <a href="/">
              <button
                disabled
              >
                Comment créer une identité numérique
              </button>
            </a>
            </div>
        </main>
      </div>
    </div>
    <%- include('partials/footer.ejs'); %>
  </body>
</html>