<!doctype html>
<html lang="fr" data-fr-scheme="light">

<head>
  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="/css/pages/interaction.css" />
  <link rel="stylesheet" href="/css/pages/ac.interaction.css" />
  <link rel="stylesheet" href="/css/pages/dsfr.pc.css" />
  <title>Connexion - choix du compte</title>
</head>

<body>
  <%- include('includes/skiplinks.ejs') %>
  <%- include('includes/header.ejs') %>
  <main class="onboarding-container" role="main" id="content">
    <div>
      <a href="javascript:history.back()" class="fr-mt-2w fr-btn fr-btn--tertiary fr-btn--sm fr-btn--icon-left fr-icon-arrow-left-line">
        retour
      </a>
      <h2 class="fr-my-4w">Choisir votre accès</h2>
      <form action="/api/v2/redirect-to-idp" method="POST" name="fs-request">
        <fieldset
                aria-labelledby="radio-hint-legend radio-hint-messages"
                class="fr-fieldset"
                id="radio-hint"
        >
          <legend
                  class="fr-fieldset__legend--regular fr-fieldset__legend"
                  id="radio-hint-legend"
          >
            Quel accès voulez-vous utiliser aujourd’hui ?
            <% if (locals.acceptsDefaultIdp) { %>
              <span class="fr-hint-text">
          Si votre administration n'est pas répertoriée, sélectionnez
          "Autre".
        </span>
            <% } %>
          </legend>
          <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>" />
          <input type="hidden" name="email" value="<%= locals.email %>" />

          <% locals.providers.forEach((provider) => { %>
            <div class="fr-fieldset__element">
              <div class="fr-radio-group">
                <input
                        type="radio"
                        id="idp-<%= provider.uid %>"
                        name="identityProviderUid"
                        value="<%= provider.uid %>"
                />
                <label class="fr-label" for="idp-<%= provider.uid %>">
                  <%= provider.title %>
                </label>
              </div>
            </div>
          <% }); %>

        </fieldset>

        <button
                class="fr-btn fr-btn--tertiary fc-btn--provider"
                type="submit"
        >
          Continuer
        </button>
      </form>
      <hr class="fr-mt-6w" />
      <p class="fr-my-2w">
        Si vous ne faites partie d’aucune de ces administrations, faites-le
        nous savoir.
      </p>
      <p class="fr-btn fr-btn--sm fr-btn--tertiary fr-mb-6w">
        <a class="mailto" href="mailto:support+federation@proconnect.gouv.fr?subject=Je ne trouve pas mon administration sur ProConnect">
          Nous écrire
          <span class="fr-icon-mail-line fr-icon--sm fr-pl-1v" aria-hidden="true"></span>
        </a>
      </p>
    </div>
    <div class="centered-container">
      <img src="/img/provider.svg" alt="" />
    </div>
  </main>
  <%- include('includes/footer.ejs') %> <%- include('includes/scripts.ejs') %>
</body>

</html>
