<!doctype html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/pages/interaction.css" />
    <link rel="stylesheet" href="/css/pages/dsfr.pc.css" />
    <title>Connexion - choix du compte</title>
  </head>
  <body>
    <%- include('includes/skiplinks.ejs') %>
    <%- include('includes/header.ejs') %>
    <div id="email-container" data-login-hint="<%= locals.loginHint %>"></div>
    <main class="onboarding-container" role="main" id="content">
      <div>
        <h1 class="fr-mb-1w fr-h3">Se connecter à <%= locals.spName %></h1>
        <% if (locals.notificationMessage) { %>
          <div
            class="fr-notice fr-notice--info background-alt-blue-france ac-color-alt-grey fr-my-8v"
          >
            <div class="fr-container">
              <div class="fr-notice__body">
                <p style="white-space: pre-wrap" class="fr-notice__title"><%- locals.notificationMessage %></p>
              </div>
            </div>
          </div>
        <% } else { %>
          <div
            class="fr-callout ac-callout fr-icon-information-line ac-icon-information-line background-alt-blue-france"
          >
            <p class="fr-callout__text">
              Avec ProConnect, connectez-vous aux sites de l'administration, en une fois,
              avec un seul compte !
            </p>
          </div>
        <% } %>
        <form action="/api/v2/redirect-to-idp" method="POST" class="interaction-main-content-form" name="email-check">
          <label class="fr-label fr-mt-1v" for="email-input">
            Email professionnel
            <span class="fr-hint-text">Format attendu : nom@domaine.fr</span>
          </label>

          <input class="fr-input fr-bx-1v" type="email" id="email-input" spellcheck="off" autocomplete="email" name="email"
                 required />
          <div class="fr-fieldset__element fr-mt-2w">
            <div class="fr-checkbox-group fr-checkbox-group--sm">
                <input name="remember" id="remember-me" type="checkbox" aria-describedby="remember-me-messages">
                <label class="fr-label" for="remember-me">
                    Se souvenir de moi
                </label>
                <div class="fr-messages-group" id="remember-me-messages" aria-live="assertive">
                </div>
            </div>
          </div>
          <div class="fr-btns-group">
            <button id="email-submit-button" onclick="" type="submit" class="fr-mb-0 fr-btn" data-testid="interaction-connection-button">
              Continuer
            </button>
          </div>
          <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>" />
        </form>
        <% if (locals.defaultEmailRenater) { %>
          <div class="fr-px-10v fr-py-7v fr-mt-10v" style="background-color: #f6f6f6">
            <div class="fr-grid-row fr-grid-row--center">
              <div class="fr-col-1">
                <img src="/img/renater.svg" alt="" />
              </div>
              <div class="fr-col-10">
                <p class="fr-ml-2v">
                  Pour les membres des établissements de l’Enseignement supérieur et de la
                  recherche raccordés à RENATER
                </p>
              </div>
              <form
                      name="renaterRedirection"
                      method="POST"
                      action="/api/v2/redirect-to-idp"
              >
                <input
                        type="hidden"
                        name="email"
                        value="<%= locals.defaultEmailRenater %>"
                />
                <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>" />
                <button class="fr-btn fr-btn--secondary">
                  Continuer avec FÉDÉRATION Éducation‑Recherche
                </button>
              </form>
            </div>
          </div>
        <% } %>
      </div>
      <div class="centered-container">
        <img src="/img/connexion.svg" alt="" />
      </div>
    </main>
    <%- include('includes/footer.ejs') %> <%- include('includes/scripts.ejs') %>
    <script type="text/javascript" src="/js/email-fca.js" defer></script>
  </body>
</html>
