<!doctype html>
<html lang="fr-FR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= locals.title; %> - ProConnect</title>
    <link rel="stylesheet" href="<%= locals.stylesheetUrl; %>" />
</head>
<body>
<main>
    <section container="">
        <h1><%= locals.title; %></h1>
        <h2>Se connecter</h2>
        <form autocomplete="off" action="/interaction/<%= locals.uid %>/login" method="post">
            <div>
                <label for="email">email</label>
                <input type="text" id="email" name="email" value="<%= locals.email %>">
            </div>
            <br>
            <details>
                <summary id="open-custom-configuration">Usage avancé</summary>
                <div>
                    <label for="given_name">given_name</label>
                    <input type="text" id="given_name" name="given_name" value="<%= locals.defaultUser.given_name %>">
                </div>
                <div>
                    <label for="usual_name">usual_name</label>
                    <input type="text" id="usual_name" name="usual_name" value="<%= locals.defaultUser.usual_name %>">
                </div>
                <div>
                    <label for="siret">siret</label>
                    <input type="text" id="siret" name="siret" value="<%= locals.defaultUser.siret %>">
                </div>
                <div>
                    <label for="is_service_public">is_service_public</label>
                    <input type="text" id="is_service_public" name="is_service_public" value="<%= locals.defaultUser.is_service_public %>">
                </div>
                <div>
                    <label for="acr">acr</label>
                    <input type="text" id="acr" name="acr" value="<%= locals.acr %>">
                </div>
                <div>
                    <label for="sub">sub</label>
                    <input type="text" id="sub" name="sub" value="<%= locals.defaultUser.sub %>">
                </div>
                <div>
                    <label for="phone_number">phone_number</label>
                    <input type="text" id="phone_number" name="phone_number" value="<%= locals.defaultUser.phone_number %>">
                </div>
            </details>
            <br>
            <button type="submit">Se connecter</button>
        </form>
        <br>
        <details>
            <summary id="open-debug-info">Informations de débogage</summary>
            <pre><code><%= locals.debugInfo %></code></pre>
        </details>
    </section>
</main>
</body>
</html>
