<header>
  <nav>
    <div class="menu-container">
        <div class="logos-container">
<<<<<<< HEAD
            <a href="<%= locals.params.redirect_uri %>">
              <img id="marianne-logo" src="/img/marianne-logo.svg" alt="Logo de la marianne">
            </a>
            <a href="<%= locals.params.redirect_uri %>">
=======
            <a href="/">
              <img id="marianne-logo" src="/img/marianne-logo.svg" alt="Logo de la marianne">
            </a>
            <a href="/">
>>>>>>> [FC-292] replace #footer-v2 by footer
              <img id="fc-plus-logo" src="/img/logo-fc-plus.svg" alt="Logo FC Plus">
            </a>
        </div>
        <div class="previous-link-container">
<<<<<<< HEAD
            <a class="previous-link" href="<%= locals.params.redirect_uri %>?error=access_denied&error_decription=User%20auth%20aborted">
              <div class="previous-link-icon"></div>
              <span>Revenir sur <%= locals.spName %></span>
=======
            <a class="previous-link" href="<%= locals.params.redirect_uri %>">
              <div class="previous-link-icon"></div>
              <span>Revenir sur Les sites de l'Agence Nationale des Titres Sécurisés</span>
>>>>>>> [FC-292] replace #footer-v2 by footer
            </a>
        </div>
    </div>
  </nav>
</header>