<html>
  <head>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <div
      style="width: 420px; margin: auto; margin-top: 200px; text-align: center;"
    >
      <h1>DEMO : Page liste des IdP</h1>

      <div id="idp-list">
        <% locals.providers.filter(p => p.display).forEach((provider) => { %>
        <form
          method="POST"
          action="/api/v2/redirect-to-idp"
          id="fs-request-<%= provider.uid %>"
          name="fs-request"
          style="font-size: 2em; width: 200px; height: 200px; margin: 5px; float: left;"
        >
          <button
            style="width: 100%; height: 100%;"
            id="idp-<%= provider.uid %>"
            <% if (!provider.active) { %>disabled<% } %>
          >
            <%= provider.name %>
          </button>
          <input type="hidden" name="providerUid" id="providerUid" value="<%= provider.uid %>" />
          <input type="hidden" name="uid" id="uid" value="<%= locals.uid %>" />
          <input type="hidden" name="scope" value="<%= params.scope %>" />
          <input type="hidden" name="acr_values" value="<%= params.acr_values %>" />
        </form>
        <% }) %>
      </div>
    </div>
  </body>
</html>
