<html>
  <head>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <div
      style="width: 420px; margin: auto; margin-top: 200px; text-align: center;"
    >
      <h1>DEMO : Page liste des IdP</h1>

      <div>
        <% locals.providers.forEach((provider) => { %>
        <form
          method="POST"
          action="/api/v2/redirect-to-idp"
          id="fs-request-<%= provider.name %>"
          name="fs-request"
          style="font-size: 2em; width: 200px; height: 200px; margin: 0 5px; float: left;"
        >
          <button
            style="width: 100%; height: 100%;"
            id="idp-<%= provider.name %>"
          >
            <%= provider.name %>
          </button>
          <input
            name="providerName"
            id="providerName"
            value="<%= provider.name %>"
          />
          <input name="uid" id="uid" value="<%= locals.uid %>" />
          <input name="scope" value="<%= params.scope %>" />
          <input name="acr_values" value="<%= params.acr_values %>" />
        </form>
        <% }) %>
      </div>
    </div>
  </body>
</html>
